<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="linkLine()">link line</button>
</body>
<script>
    
    let red_url="https://localhost:4000/linkAuth"
    const linkLine = () => {
        
        let URL = 'https://access.line.me/oauth2/v2.1/authorize?';
        URL += 'response_type=code';
        //channel id
        URL += `&client_id=${1657376867}`;
        // 與Line Developer Channel設定的一樣就好，驗證完就會經過瀏覽器轉址回來
        URL += `&redirect_uri=${red_url}`;

        // 狀態碼是會從client呼叫端帶到驗證端，再從驗證端帶回
        // 因此應該可以作為一個亂數卡控確保是自   已丟出去的交易碼
        URL += '&state=State';

        //要求存取的範圍
        URL += '&scope=openid%20profile';
        window.location.href = URL;
    };

</script>

</html>